scikit-learn>=1.0
pandas>=1.3
nltk>=3.6
matplotlib
gensim>=4.0
ipywidgets
transformers[tf,torch,sentencepiece,vision,optuna,sklearn,onnxruntime]==4.18
datasets[audio]==2.2
sacrebleu==1.5.1
rouge-score==0.0.4
py7zr # Needed for samsum dataset